* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
}
section {
  height: fit-content;
  /* margin: 0; */
  padding: 3% 5% 4.5%;
}
body {
  background-color: rgb(59, 70, 100);
}

.nav-1 {
  color: #fff;
  position: absolute;
  left: 85vw;
  bottom: 95vh;
}
/* .nav {
    display: flexbox;
    margin: 8px;
    float: right;
  } */
.theme {
  margin-right: 15px;
  font-size: 20px;
  color: #fff;
  position: absolute;
  left: 70vw;
  top: 3vh;
}
.form-switch {
  position: absolute;
  left: 85vw;
  top: 3.5vh;
}
.cal {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.screen {
  width: 100%;
  height: 70px;
  background-color: rgb(25, 31, 50);
  border: none;
  border-radius: 10px;
  text-align: end;
  color: rgb(254, 252, 253);
  /* pointer-events: none; */
  margin: 5% 0;
  font-size: 40px;
  padding: 20px;
}
.grids {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  /* grid-template-rows: repeat(5, 20%); */
  grid-gap: 6% 3%;
  /* row-gap: 0; */
  margin: 10px;
  justify-content: center;
  /* height: 70%; */
  /* overflow: hidden; */
  height: fit-content;
  padding: 10% 5% 28%;
  border: 10px;
  background-color: rgb(25, 31, 50);
  border-radius: 3%;
}
.reset-equality {
  grid-column: span 2;
}

button {
  border-radius: 10%;
  border: none;
  /* height: 50%; */
  box-shadow: 10%;
  font-size: 30px;
  font-weight: bold;
  color: rgb(68, 74, 90);
  background-color: hwb(30 86% 8%);
  box-shadow: 0 6px 0 rgb(192, 191, 176);
  padding: 1rem 0.7rem;
}
.delete-reset {
  background: rgb(101, 113, 154);
  color: #fff;
  box-shadow: 0 6px rgb(86, 97, 135);
}
.equality-red {
  background-color: rgb(209, 63, 50);
  color: #fff;
  box-shadow: 0 6px rgb(176, 49, 37);
}

/* MEDIA QUERIES */
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .calculator {
    padding: 6% 10%;
    height: 100vh;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .calculator {
    padding: 15% 25%;
    height: 100vh;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .calculator{
        padding: 15% 25%;
        height: 100vh;
    } */
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* .calculator{
        padding: 15% 25%;
        height: 100vh;
    } */
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* .calculator{
        padding: 15% 25%;
        height: 100vh;
    } */
}
