* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
}
.calculator {
  padding: 5%;
}
body {
  background-color: rgb(59, 70, 100);
}

.theme-number {
  position: absolute;
  right: 10;
}

.calc-theme {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.theme-toggle {
  display: flex;
}
.theme {
  margin-right: 15px;
  font-size: 20px;
}
.cal {
  font-size: 30px;
  font-weight: bold;
}

.screen {
  width: 100%;
  height: 50px;
  background-color: rgb(25, 31, 50);
  border: none;
  border-radius: 10px;
  text-align: end;
  color: rgb(254, 252, 253);
  pointer-events: none;
  font-size: 40px;
  padding: 20px;
  word-wrap: break-word;
}
.grids {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 50px);
  margin: 10px 0;
  grid-gap: 1rem;
  padding: 8%;
  background-color: rgb(26, 34, 60);
  border-radius: 0.5rem;
}

.reset-equality {
  grid-column: span 2;
}
.grids .grey {
  background: rgb(101, 113, 154);
  color: white;
  box-shadow: 0 3px 0 rgb(80, 95, 143);
}
button {
  cursor: pointer;
  border-radius: 10%;
  border: none;
  height: 100%;
  box-shadow: 5%;
  font-size: 30px;
  font-weight: bold;
  color: rgb(68, 74, 90);
  outline: none;
  background-color: hwb(30 86% 8%);
  box-shadow: 0 3px 0 rgb(192, 191, 176);
}

button:hover {
  background-color: rgb(192, 191, 176);
}

.delete-reset {
  background: rgb(101, 113, 154);
  color: #fff;
  box-shadow: 0 6px rgb(86, 97, 135);
}
.equality-red {
  background-color: rgb(209, 63, 50);
  color: #fff;
  box-shadow: 0 6px rgb(176, 49, 37);
}

/* MEDIA QUERIES */
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  .calculator {
    padding: 6% 10%;
    height: 100vh;
  }
} */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    width: 30rem;
    margin: auto;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .calculator{
        padding: 15% 25%;
        height: 100vh;
    } */
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* .calculator{
        padding: 15% 25%;
        height: 100vh;
    } */
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* .calculator{
        padding: 15% 25%;
        height: 100vh;
    } */
}
